// position
$pxtwo: 450px;
$pxthree: 20px;
$bottompx: 850px;
$pxfour: 40px;

.espacio {
    margin-bottom: $pxtwo;
}

.espaciodos {
    margin-bottom: $pxthree;
}

.espaciocaja {
    margin-bottom: $bottompx;
}