// url
$body-bg: url(https://i.pinimg.com/564x/e3/de/c5/e3dec5beba4a4ed6764aa0905b94cd31.jpg);

// fonts
$mainFont: 'Roboto Mono', monospace;

// colors
$mainColor: blueviolet;
$secondaryColor: violet;
$fourColor: cornflowerblue;

// font weight
$fontLight: 100;
$fontBold: 700;
$fontMedium: 300;
$fontHalfMedium: 400;
$fontAlmostLight: 200;

// size
$mediumWidth: 600px;
$body-width: 100%;
$body-height: 300px;
$largeWidth: 500px;
$background-size: 1000px;
$widthLarge: 116%;
$heightMedium: 50%;

// position
$cover: cover;
$body-poss:contain;
$body-ob-pos: bottom;
$body-attachment: fixed;
$center: center;
$width-height: 150%;
$margin-left-right: calc((100% - 550px) / 2);
$twocenter: center center;
$flex: flex;

// custom
$body-repeat: no-repeat;
$border: 1px solid transparent;

.teoriasbody {
    background-image: $body-bg;
    width: $body-width;
    height: $body-height;
    object-fit: $cover;
    object-position: $body-ob-pos;
    background-repeat: $body-repeat;
    background-attachment: $body-attachment;
    background-size: $cover;
}

h1 {
    font-family: $mainFont;
    font-weight: $fontBold;
    color: $mainColor;
}

h2 {
    font-family: $mainFont;
    font-weight: $fontAlmostLight;
}

.números {
    color: $secondaryColor;
}

.título {
    font-weight: $fontMedium;
    color: $fourColor;
}

.ucm {
  display: $flex;
  justify-content: $center;
}


  /* Estilos para dispositivos móviles */

@media screen and (max-width: 400px) {

  .teoriasbody {
      background-image: $body-bg;
      background-size: $body-poss;
      background-repeat: $body-repeat;
      background-position: $twocenter;
      background-attachment: $body-attachment;
  }

  .containerblogs {
    max-width: $width-height;
    max-height: $width-height;
    border: $border;
    margin-left: $margin-left-right;
    margin-right: $margin-left-right;
    background-size: $background-size;
    width: $widthLarge;
    height: $heightMedium;
  }
}

/* Estilos para dispositivos desktop */

@media screen and (max-width: 1500px) {
  .teoriasbody {
      background-image: $body-bg;
      background-size: $cover;
      justify-content: $center;
  }
}